In [17]:
import pandas as pd

In [18]:
#Reading local json file

In [19]:
df = pd.read_json('iris.json')

In [20]:
df.isnull().sum()

sepalLength    0
sepalWidth     0
petalLength    0
petalWidth     0
species        0
dtype: int64

In [21]:
df.duplicated().sum()

1

In [22]:
df = df.drop_duplicates()

In [23]:
df.duplicated().sum()

0

In [24]:
df.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [25]:
# Reading json data by fetching api

In [26]:
df = pd.read_json('https://api.exchangerate-api.com/v4/latest/usd')

In [27]:
df.head()

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
USD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-08-29,1724889601,1.00
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-08-29,1724889601,3.67
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-08-29,1724889601,70.71
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-08-29,1724889601,89.80
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2024-08-29,1724889601,387.86

In [28]:
df.drop(columns=['provider', 'terms', 'WARNING_UPGRADE_TO_V6'],inplace=True)

In [29]:
df

    base       date  time_last_updated   rates
USD  USD 2024-08-29         1724889601    1.00
AED  USD 2024-08-29         1724889601    3.67
AFN  USD 2024-08-29         1724889601   70.71
ALL  USD 2024-08-29         1724889601   89.80
AMD  USD 2024-08-29         1724889601  387.86
..   ...        ...                ...     ...
XPF  USD 2024-08-29         1724889601  107.28
YER  USD 2024-08-29         1724889601  250.17
ZAR  USD 2024-08-29         1724889601   17.82
ZMW  USD 2024-08-29         1724889601   26.02
ZWL  USD 2024-08-29         1724889601   13.82

[162 rows x 4 columns]

In [30]:
#Dealing with Sql

In [48]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 660.6 kB/s eta 0:00:18
     --------------------------------------- 0.1/11.9 MB 787.7 kB/s eta 0:00:15
      --------------------------------------- 0.2/11.9 MB 1.6 MB/s eta 0:00:08
     - -------------------------------------- 0.5/11.9 MB 2.8 MB/s eta 0:00:05
     --- ------------------------------------ 1.0/11.9 MB 4.6 MB/s eta 0:00:03
     ------ --------------------------------- 2.0/11.9 MB 7.4 MB/s eta 0:00:02
     ---------- ----------------------------- 3.1/11.9 MB 9.8 MB/s eta 0:00:01
     --------------- ------------------------ 4.5/11.9 MB 12.5 MB/s eta 0:00:01
     ------------------- -------------------- 5.7/11.9 MB 14.1 MB/s eta 0:00:01
     ----------------------- ---------------- 7.0/11.9 MB 15.3 MB/s eta 0:00:01
     ------------------------ --------------- 7.2/11.9 MB 14.3 MB/s eta 0:00:01
     ------------------------- -------------- 7.6/11.9 MB 14.4 MB/s eta 0:00:01
     -------------------------- ------------- 7.9/11.9 MB 13.7 MB/s eta 0:00:01
     ----------------------------- ---------- 8.6/11.9 MB 13.5 MB/s eta 0:00:01
     --------------------------------- ----- 10.0/11.9 MB 14.6 MB/s eta 0:00:01
     ------------------------------------ -- 11.2/11.9 MB 19.8 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 20.5 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 19.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247958 sha256=ac6b71258cf33dff8c057b5f8b8a668fac475a7145c1a788e065513cb70ac31d
  Stored in directory: c:\users\biki kumar\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [50]:
import mysql.connector
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [84]:
newdf = pd.read_sql_query("SELECT * FROM countrylanguage where Language='Dutch'",conn)

C:\Users\biki kumar\AppData\Local\Temp\ipykernel_5408\2050220033.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  newdf = pd.read_sql_query("SELECT * FROM countrylanguage where Language='Dutch'",conn)

In [86]:
newdf

  CountryCode Language IsOfficial  Percentage
0         ABW    Dutch          T         5.3
1         ANT    Dutch          T         0.0
2         BEL    Dutch          T        59.2
3         CAN    Dutch          F         0.5
4         NLD    Dutch          T        95.6

In [90]:
newdf.value_counts()

CountryCode  Language  IsOfficial  Percentage
ABW          Dutch     T           5.3           1
ANT          Dutch     T           0.0           1
BEL          Dutch     T           59.2          1
CAN          Dutch     F           0.5           1
NLD          Dutch     T           95.6          1
Name: count, dtype: int64